ul.saved-items {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 600px;
}

ul.saved-items > li.saved-item {
    display: block;
    border: 1px solid #DFDFDF;
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 21px;
    transition: height 1s ease;
    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    overflow: hidden;
}

.saved-item__header {
    display: flex;
    justify-content: space-between;
    height: 21px;
    margin-bottom: 12px;
}

.saved-item__name {
    font-size: 18px;
    font-weight: bold;
    color: #2B2829;
    line-height: 24px;
}
.saved-item__delete-button {
    width: 15px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.saved-item__field {
    margin-bottom: 8px;
    font-size: 12px;
}
.saved-item__field-name {
    color: #777777;
    margin-right: 10px;
}
.saved-item__field-info {
    color:#2B2829;
}